<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relme33.fiai.uci.relme33">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RelmeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgramaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ListaBuscadaActivity" />
        <activity
            android:name=".ContactosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcercaDeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModalidadesActivity"
            android:label="@string/title_activity_modalidades"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ConferencistasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapaActivity" />
        <activity android:name=".ProgramaGeneralActivity" />
        <activity android:name=".CreditosActivity" />
        <activity android:name=".MapaAlternativoActivity"></activity>
    </application>

</manifest>